* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-pc: #fff;
  --color-bg: #d6e2f0ff;
  --color-tx: #68778dff;
  --color-hd: #1f3251ff;

  --box-shadow-default: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
}

main {
  width: 100%;
  min-width: 23.4375rem;
  height: 100vh;
  background-color: var(--color-bg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--color-pc);

  max-width: 20rem;
  height: auto;
  padding: 1rem 1rem 1.5rem 1rem;
  /* padding: clamp(1rem, 2vw, 2rem) clamp(1rem, 2vw, 2rem) */
  /* clamp(1.5rem, 3vw, 3rem) clamp(1rem, 2vw, 2rem); */
  border-radius: 1.25rem;
  box-shadow: var(--box-shadow-default);
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0.625rem;
  margin-block-end: 1.5rem;
}

.text-content {
  padding: 0 1rem 1rem 1rem;
}

.title {
  color: var(--color-hd);
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  margin-block-end: 1rem;
}

.description {
  color: var(--color-tx);
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.297;
}

@media (min-width: 90rem) {
  body {
    background-color: var(--color-bg);
  }
}
